  <!-- Section: Footer -->
  <section class="mb-4">
    <div class="card">
      <div class="card-body py-3">
        <% let year = new Date() %>
        <h6 class="mb-0 text-center"><p>© <%= year.getFullYear() %> S. Chand Group</p></h6>
      </div>
    </div>
  </section>
  <!-- Section: Footer -->

</div>
</main>
<!--Main layout-->

 <!-- MDB -->
 <script type="text/javascript" src="js/mdb.min.js"></script>
 <!-- Custom scripts -->
 <script type="text/javascript" src="js/admin.js"></script>

</body>
</html>