
<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white ">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/" class="list-group-item list-group-item-action py-2 ripple " aria-current="true" >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
          </a>
          <a href="/schools" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Schools</span>
          </a>
          <a href="/salePerson" class="list-group-item list-group-item-action py-2 ripple "><i
              class="fas fa-lock fa-fw me-3"></i><span>Sales-Person</span></a>
          <a href="/subject" class="list-group-item list-group-item-action py-2 ripple "><i
            class="fas fa-lock fa-fw me-3"></i><span>Subject Titles</span></a>
          <a href="/status/Pending" class="list-group-item list-group-item-action py-2 ripple text-danger"><i
              class="fas fa-chart-line fa-fw me-3"></i><span>Pending</span></a>
          <a href="/status/Complete" class="list-group-item list-group-item-action py-2 ripple text-success"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Complete</span></a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <img src="/img/schand_logo.png" height="50px" alt="S.Chand" loading="lazy" />
        </a>

        <!-- Search form -->
        <form class="d-none d-md-flex input-group w-auto my-auto" action="/search" method="post">
          <input autocomplete="on" type="search" class="form-control rounded"
            placeholder='Any word about school name' style="min-width: 250px" name="search"/>
          <span class="input-group-text border-0" title="Press Enter"><i class="fas fa-search"></i></span>
        </form>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          
          <% if(userAccess === 'admin'){ %>
            <li class="nav-item">
            <a class="nav-link me-3 btn btn-light btn-rounded text-dark" href="/create" title="new create">
              <!-- <i class="fas fa-plus"></i> -->NEW
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 btn btn-light btn-rounded text-dark" href="/createSubject" title="new create">
              <!-- <i class="fas fa-plus"></i> -->ADD Titles
            </a>
          </li>
          <% } %>
          <!-- Icon -->

          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
            <%= userAccess.toUpperCase() %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" >Download ↓</i></a></li>
              <li><a class="dropdown-item" href="/download/csv">CSV</a></li>
              <li><a class="dropdown-item" href="/logout">LOGOUT</a></li>
            </ul>
          </div>
          
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container-fluid pt-4">
      